@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@theme {
    --color-main: #1226A9;
    --color-secondary: #3DB5E7;
    --color-backgraund: #FFFFFF;
    --color-backgraund-secondary: #3DB5E7;
    --color-dark: #212D61;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@theme {
    --font-sans: "Poppins", "Helvetica", sans-serif;
}

.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  /* Forzamos un contenedor ancho para que haya recorte en X */
  min-height: 900px;
}

/* Imagen de fondo con “ancho extra” para que haya material que desplazar */
.hero__bg {
  position: absolute;
  inset: 0;
  background-image: url("/src/assets/img/simone-hutsch.jpg");
  background-repeat: no-repeat;
  background-size: 120% auto;        /* 👈 ancho > 100% para asegurar overflow en X */
  background-position: 10% 10%;      /* 👈 mueve X acá (primer valor) */
  transform: scaleX(-1);             /* opcional: mirror */
}

/* Contenido… */
.hero__content { position: relative; z-index: 1; }