<header
    class="bg-backgraund text-[var(--color-main)] flex justify-between items-center px-6 py-4"
>
    <div class="container mx-auto flex justify-between items-center">
        <!-- Logo -->
        <a href="." class="flex items-center">
            <img src="/src/assets/logo/path13.svg" alt="idi logo" class="w-48 h-auto"/>
            <span
                class="self-center text-xl font-semibold whitespace-nowrap ml-2"
                >IDI Services</span
            >   
        </a>

        <!-- Menú -->
        <nav>
            <ul class="flex space-x-4">
                <li><a href="/">Inicio</a></li>
                <li><a href="/">Acerca de</a></li>
                <li><a href="/">Servicios</a></li>
                <li><a href="/">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>
