<header
    class="bg-main text-backgraund flex justify-between items-center px-6 py-4"
>
    <div class="logo">
        <a href="." class="flex items-center">
            <img
                src="https://placehold.co/32x32@2x.png"
                alt="idi logo"
            />
            <span
                class="self-center text-xl font-semibold whitespace-nowrap ml-2"
                >IDI Services</span
            >
        </a>
    </div>

    <nav>
        <ul class="flex space-x-4">
            <li><a href="/">Inicio</a></li>
            <li><a href="/">Acerca de</a></li>
            <li><a href="/">Servicios</a></li>
            <li><a href="/">Contacto</a></li>
        </ul>
    </nav>
</header>
